<main class="main">
  <section class="todayEvents">
    <div class="todayLists">
      <div class="todayList">list1</div>
      <div class="todayList">list2</div>
    </div>
  </section>
  <section class="eventsInfo">
    <div class="eventsSidebar">
      <a class="eventsTab" href="/current">
        <p class="eventsTabTitle">current</p>
      </a>
      <a class="eventsTab" href="/later">
        <p class="eventsTabTitle">later</p>
      </a>
      <a class="eventsTab" href="/done">
        <p class="eventsTabTitle">done</p>
      </a>
    </div>
    <div class="eventsFocusedTab">focused tab</div>
  </section>
</main>
