.main {
  height: 100vh;
  display: grid;
  grid-template-rows: repeat(2, 1fr);
}

.todayLists {
  background-color: #24272b;
  display: grid;
  place-items: center;
}

.lists {
  display: flex;
}

.eventsInfo {
  background-color: #07070a;
}
